@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #26272b;
  color: #fff;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

.hero-bg-img {
  background-image: url(/src/images/ether-illustration.svg);
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 629px) {
  .hero-bg-img {
    background-color: #26272b;
    background-image: none;
  }
}
